/* foto header */
header  {  
    display: flex;
    background-image: url(../images/image-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 60%;
    width: auto;
    height: 55vh;
    max-height: 55vh;
  }
  /* comportamiento en pantalla chica */
  @media screen and (max-width: 767px)  {
    header  {  
    display: flex;
    background-image: url(../images/image-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 60%;
    width: auto;
    height: 15vh;
    max-height: 55vh;
  } 
  }
  